@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1">Welcome to Bradley's Gaming</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>  
                <th scope="col">Produt Type</th>
                <th scope="col">Typical Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Xbox Games</td>
                <td>$49.99</td>
            </tr>
            <tr>
                <td>Arcade</td>
                <td>$5/hour</td>
            </tr>
        </tbody>
    </table>
</div>

<h2>About Bradley's Gaming</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Mollis aliquam ut porttitor leo. Facilisi nullam vehicula ipsum a arcu cursus. 
    Amet tellus cras adipiscing enim eu turpis. 
    Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. 
    Pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. 
    Et egestas quis ipsum suspendisse ultrices gravida dictum. 
    Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec. 
    Congue mauris rhoncus aenean vel elit scelerisque mauris pellentesque. 
    Sed nisi lacus sed viverra tellus in hac. Natoque penatibus et magnis dis parturient. 
    Mollis nunc sed id semper risus in hendrerit. Non blandit massa enim nec dui. 
    A pellentesque sit amet porttitor eget dolor morbi. 
    Morbi enim nunc faucibus a pellentesque sit amet porttitor. 
    Est velit egestas dui id ornare arcu odio ut sem.
</p>